<section
  class="lg:py-[15%] flex flex-col justify-center items-center gap-4 py-10"
>
  <img
    class="lg:w-28 lg:h-28 w-16 h-16"
    src="assets/images/icon-thank-you.svg"
    alt="completed - thank you"
  />
  <h1 class="lg:text-4xl text-2xl font-bold text-c-marine-blue mt-3">
    Thank you!
  </h1>
  <p class="lg:text-xl text-center text-c-cool-gray">
    Thanks for confirming your subscription! We hope you have fun using our
    platform. If you ever need support, please feel free to email us at
    support@loremgaming.com.
  </p>
</section>
