<div class="h-screen">
  <div class="h-full lg:grid grid-cols-12 lg:p-4">
    <header
      class="lg:h-full lg:w-80 lg:col-span-4 xl:col-span-3 lg:bg-sidebar-desktop lg:rounded-2xl bg-sidebar-mobile bg-cover bg-no-repeat h-1/5"
    >
      <div class="lg:mt-[10%] lg:justify-start lg:pl-[10%] flex justify-center">
        <nav class="lg:flex-col lg:gap-9 mt-[6%] flex gap-3">
          <div *ngFor="let navLink of navLinks; index as i">
            <app-link
              *ngIf="i < 4"
              [navLink]="navLink"
              [currStep]="currStep"
            ></app-link>
          </div>
        </nav>
      </div>
    </header>
    <main
      class="lg:h-full lg:bg-c-white lg:col-span-8 lg:max-w-4xl xl:col-span-9 bg-c-light-blue/30 h-4/5 flex flex-col justify-end items-end relative"
    >
      <section
        class="lg:shadow-none lg:p-[9%] lg:top-0 bg-white left-4 right-4 py-8 px-6 rounded-lg absolute -top-[9%] shadow-lg shadow-c-marine-blue/5"
      >
        <router-outlet></router-outlet>
      </section>

      <div
        *ngIf="currStep != 'thank-you'"
        [ngClass]="prevStep != '' ? 'justify-between' : 'justify-end'"
        class="lg:p-[9%] lg:mx-3 w-full bg-c-white py-4 flex"
      >
        <a
          *ngIf="prevStep != ''"
          routerLink="{{ prevStep }}"
          class="font-bold text-c-cool-gray py-2 mx-4"
          >Go Back</a
        >
        <a
          [ngClass]="{
            'bg-c-marine-blue': nextStep != 'thank-you',
            'bg-c-purplish-blue': nextStep === 'thank-you'
          }"
          routerLink="{{ nextStep }}"
          class="lg:font-bold lg:rounded-lg lg:py-3 lg:px-5 text-c-white py-2 text-lg px-4 rounded mx-4"
        >
          {{ nextStep === "thank-you" ? "Confirm" : "Next Step" }}
        </a>
      </div>
    </main>
  </div>
</div>
