<div class="h-screen">
  <header class="bg-sidebar-mobile bg-cover bg-no-repeat h-1/5">
    <div class="flex justify-center">
      <nav class="mt-[7%] flex gap-3">
        <div *ngFor="let navLink of navLinks; index as i">
          <app-link
            *ngIf="i < 4"
            [navLink]="navLink"
            [currStep]="currStep"
          ></app-link>
        </div>
      </nav>
    </div>
  </header>
  <main
    class="bg-c-light-blue/30 h-4/5 flex flex-col justify-end items-end relative"
  >
    <section
      class="bg-white left-4 right-4 py-8 px-6 rounded-lg absolute -top-[9%] shadow-lg shadow-c-marine-blue/5"
    >
      <router-outlet></router-outlet>
    </section>

    <div
      *ngIf="currStep != 'thank-you'"
      [ngClass]="prevStep != '' ? 'justify-between' : 'justify-end'"
      class="w-full bg-c-white py-4 px-4 flex"
    >
      <a
        *ngIf="prevStep != ''"
        routerLink="{{ prevStep }}"
        class="font-bold text-c-cool-gray py-2"
        >Go Back</a
      >
      <a
        [ngClass]="{
          'bg-c-marine-blue': nextStep != 'thank-you',
          'bg-c-purplish-blue': nextStep === 'thank-you'
        }"
        routerLink="{{ nextStep }}"
        class="text-c-white py-2 text-lg px-4 rounded"
      >
        {{ nextStep === "thank-you" ? "Confirm" : "Next Step" }}
      </a>
    </div>
  </main>
</div>
